/*caja 1*/

#intro {
    background-image: url(../Images/edificios1.jpg);
    background-position: 50%;
    background-size: cover;
    height: 70vh;
    color: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    box-shadow: 100vh 100vw #00000070 inset;
}

#intro div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#intro-1 {
    padding-left: 5%;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

#intro-1 p {
    font-weight: 400;
}

#intro-img {
    justify-content: center;
}

#intro-img img {
    width: 50%;
}

/*caja 2*/

#datos {
    background-color: #ee4a00;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2%;
}

#datos div {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#datos h1 {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 800;
}

#datos p {
    margin: 0;
}

/*caja 3*/
/*caja 4*/
/*caja 5*/